<link rel="stylesheet" href="/css/demo-nav.css">
<div class="demo-nav-bar">
    <div class="demo-nav-content">
        <a href="/" class="demo-nav-link"><i class='bx bx-arrow-back'></i> Voltar ao Site</a>
        <span class="demo-nav-divider">|</span>
        <a href="/demo/{{demoName}}" class="demo-nav-link">Página Demo</a>
    </div>
</div>