<error class="permission_denied"> 
    <div id="tsparticles"></div>
    <div class="denied__wrapper">
        <h1>404</h1>
        <h3>LOST IN <span>SPACE</span> App-Name? Hmm, looks like that page doesn't exist.</h3>
        <img id="astronaut" src="../../public/img/astronaut.svg" />
        <img id="planet" src="../../public/img/planet.svg" />
        <a href="#"><button class="denied__link">Go Home</button></a>
    </div>
</error>  